[Unit]
Description=localtonet
Wants=network-online.target
After=network-online.target
ConditionPathExists=/etc/localtonet/auth-token

[Service]
WorkingDirectory=/opt/localtonet
ExecStart=/opt/localtonet/localtonet --headless --authtoken-file /etc/localtonet/auth-token
KillMode=control-group
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target
